{% extends 'base.html' %}

	{% block title %}
		<title>Portfolio</title>
	{% endblock %}
	
	{% block css %}
		<link href="/static/styles/style.css" rel="stylesheet">
	{% endblock %}

	{% block caption %}
		<h1 class="col-sm-8">Projects</h1>
	{% endblock %}

	{% block menu1 %}disabled{% endblock %}

	{% block content %}
<div class="container-fluid contacto">
	<div id="main">
		<div class="inner">
			<section class="tiles">
				<article class="style1">
					<span class="image">
						<img src="/static/img/seleq1.png" alt="slq" />
					</span>
					<a href="#">
						<h2>Seleq</h2>
						<div class="content">
							<p>WIX experiment for the Charity organisation סל''ק in Israel</p>
						</div>
					</a>
				</article>
				<article class="style2">
					<span class="image">
						<img src="/static/img/ph1.png" alt="html/css" />
					</span>
					<a href="#">
						<h2>Pure HTML/CSS</h2>
						<div class="content">
							<p>A project made within an HTML+CSS course</p>
						</div>
					</a>
				</article>
				<article class="style4">
					<span class="image">
						<img src="/static/img/nfceramics1.png" alt="NFCeramics" />
					</span>
					<a href="#">
						<h2>NFCeramics</h2>
						<div class="content">
							<p>A Landing page created for &copy;NFCeramics</p>
						</div>
					</a>
				</article>
			</section>
		</div>
	</div>
</div>

	{% endblock %}

{% block js%}
	<script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/js/skel.min.js"></script>
	<script src="/static/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/static/assets/js/main.js"></script>
{% endblock %}
