body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}


.menu {
  position: relative;
  display: inline;
  cursor: pointer;
}
.menu:hover {
  cursor: pointer;
}
.menu .dropdown-menu {
  position: absolute;
  top: 40px;
  right: auto;
  left: auto;
  width: 290px;
  border-radius: 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif; 
}


.menu .dropdown-menu li a {
  color: black;
  font-size: 16px;
  padding: 5px 15px;
}



.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/map.jpg');
  background-position: center;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.fourzerofour {
  font-size: 700px;
  color: #fff;
}

.contacto {
  display: flex;
  align-items: center;
  background-image: none;
  background-color: #ffffff;
  height: 500px;
  color: #000;
  text-align: left;
  margin-bottom: 30px; 
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 10%;
}

.contact {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.ref {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.reftext {
  vertical-align: middle;
}

.exp {
  text-align: left;
}

.col-sm-6 {
  margin: 0 0 30px;
  opacity: 0.7;
}

.col-sm-6:hover {
  opacity: 1;
  cursor: pointer;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fff;
  text-shadow: none;
  opacity: 0.7;
}

.btn.btn-primary:hover {
  opacity: 1;
}

.btn-secondary {
  background-color: #1f4fa1;
  color: #ffffff;
  margin: 0 0 30px;
  opacity: 0.7;
}
.btn-secondary:hover {
  opacity: 1;
  color: #fff;
}


.maps:hover {
  cursor: pointer;
}

.map .dropdown-menu{
  position: absolute;
  top: 15px;
  right: auto;
  left: auto;
  border-radius: 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
}


.pdf {
  align-items: center;
}

.pdf img {
  width: 32px;
  height: 32px;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li a img {
  width: 32px;
  height: 32px;
}
a {
  text-decoration: none;
  color: black;
}